---
title: Title me!
---

.row<
  .slight-logo-container
    .slight-logo-letter-wrapper.slight-logo-letter-wrapper-1<
      =image_tag 'slight-logo-new-v1_slight-logo-letter-1-s.png', class: "slight-logo-letter"
      =image_tag 'slight-logo-new-v1_slight-logo-letter-1-s-braille.png', class: "slight-logo-alt"
    .slight-logo-letter-wrapper.slight-logo-letter-wrapper-2<
      =image_tag 'slight-logo-new-v1_slight-logo-letter-2-l.png', class: "slight-logo-letter"
      =image_tag 'slight-logo-new-v1_slight-logo-letter-2-l-braille.png', class: "slight-logo-alt"
    .slight-logo-letter-wrapper.slight-logo-letter-wrapper-3<
      =image_tag 'slight-logo-new-v1_slight-logo-letter-3-i.png', class: "slight-logo-letter"
      =image_tag 'slight-logo-new-v1_slight-logo-letter-3-i-braille.png', class: "slight-logo-alt"
    .slight-logo-letter-wrapper.slight-logo-letter-wrapper-4<
      =image_tag 'slight-logo-new-v1_slight-logo-letter-4-g.png', class: "slight-logo-letter"
      =image_tag 'slight-logo-new-v1_slight-logo-letter-4-g-braille.png', class: "slight-logo-alt"
    .slight-logo-letter-wrapper.slight-logo-letter-wrapper-5<
      =image_tag 'slight-logo-new-v1_slight-logo-letter-5-h.png', class: "slight-logo-letter"
      =image_tag 'slight-logo-new-v1_slight-logo-letter-5-h-braille.png', class: "slight-logo-alt"
    .slight-logo-letter-wrapper.slight-logo-letter-wrapper-6<
      =image_tag 'slight-logo-new-v1_slight-logo-letter-6-t.png', class: "slight-logo-letter"
      =image_tag 'slight-logo-new-v1_slight-logo-letter-6-t-braille.png', class: "slight-logo-alt"
    .slight-logo-letter-wrapper.slight-logo-letter-wrapper-7<
      =image_tag 'slight-logo-new-v1_slight-logo-suffix-white.png', class: "slight-logo-suffix"